/*
 * WCI Automap API
 * <p>API documentation for the West Coast Informatics Automated Term Mapping Service.</p><p>For developer documentation and examples, see on GitHub <a href=\"https://github.com/westCoastInformatics/wci-automap-in-5-minutes\">WCI Automap in 5 Minutes</a></p>
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: info@westcoastinformatics.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.wci.automap.client;

import com.wci.automap.client.invoker.ApiClient;
import com.wci.automap.client.invoker.ApiException;
import com.wci.automap.client.invoker.ApiResponse;
import com.wci.automap.client.invoker.Pair;

import com.wci.automap.client.model.Concept;
import com.wci.automap.client.model.ConceptTreePosition;
import com.wci.automap.client.model.Mapset;
import com.wci.automap.client.model.ResultListConcept;
import com.wci.automap.client.model.ResultListConceptRelationship;
import com.wci.automap.client.model.ResultListConceptTreePosition;
import com.wci.automap.client.model.ResultListMapping;
import com.wci.automap.client.model.ResultListMapset;
import com.wci.automap.client.model.ResultListSubset;
import java.util.Set;
import com.wci.automap.client.model.Subset;
import com.wci.automap.client.model.Terminology;
import com.wci.automap.client.model.TerminologyMetadata;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-05-28T10:46:19.010911900-07:00[America/Los_Angeles]", comments = "Generator version: 7.5.0")
public class TerminologyApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TerminologyApi() {
    this(new ApiClient());
  }

  public TerminologyApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Autocomplete
   * Find concepts for a type-ahead search field
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. heart attack (optional)
   * @param expression ECL Expression, e.g. &lt;404684003 (optional)
   * @param clause  (optional)
   * @param limit limit of results to return (optional)
   * @return ResultListConcept
   * @throws ApiException if fails to make API call
   */
  public ResultListConcept autocompleteConcepts(String terminology, String query, String expression, String clause, Integer limit) throws ApiException {
    ApiResponse<ResultListConcept> localVarResponse = autocompleteConceptsWithHttpInfo(terminology, query, expression, clause, limit);
    return localVarResponse.getData();
  }

  /**
   * Autocomplete
   * Find concepts for a type-ahead search field
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. heart attack (optional)
   * @param expression ECL Expression, e.g. &lt;404684003 (optional)
   * @param clause  (optional)
   * @param limit limit of results to return (optional)
   * @return ApiResponse&lt;ResultListConcept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConcept> autocompleteConceptsWithHttpInfo(String terminology, String query, String expression, String clause, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = autocompleteConceptsRequestBuilder(terminology, query, expression, clause, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("autocompleteConcepts", localVarResponse);
        }
        return new ApiResponse<ResultListConcept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConcept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder autocompleteConceptsRequestBuilder(String terminology, String query, String expression, String clause, Integer limit) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling autocompleteConcepts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/autocomplete"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "expression";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("expression", expression));
    localVarQueryParameterBaseName = "clause";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("clause", clause));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Autocomplete
   * Find words for a type-ahead search field
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. diabetes (if multiple words specified, only first word is used) (required)
   * @param limit limit of results to return (optional)
   * @return List&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public List<String> autocompleteWords(String terminology, String query, Integer limit) throws ApiException {
    ApiResponse<List<String>> localVarResponse = autocompleteWordsWithHttpInfo(terminology, query, limit);
    return localVarResponse.getData();
  }

  /**
   * Autocomplete
   * Find words for a type-ahead search field
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. diabetes (if multiple words specified, only first word is used) (required)
   * @param limit limit of results to return (optional)
   * @return ApiResponse&lt;List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<String>> autocompleteWordsWithHttpInfo(String terminology, String query, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = autocompleteWordsRequestBuilder(terminology, query, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("autocompleteWords", localVarResponse);
        }
        return new ApiResponse<List<String>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<String>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder autocompleteWordsRequestBuilder(String terminology, String query, Integer limit) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling autocompleteWords");
    }
    // verify the required parameter 'query' is set
    if (query == null) {
      throw new ApiException(400, "Missing the required parameter 'query' when calling autocompleteWords");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/autocompletewords"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find concepts (across all terminologies)
   * Find concepts matching the specified search criteria
   * @param query search query, e.g. heart attack (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param handler search handler, e.g. STANDARD, EXACT, NGRAM. If &#39;SNOMED&#39; handler is used, a small delay may be added to prevent being blocked by 3rd party integration. (optional)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @param active active only, e.g. true (optional)
   * @param leaf active only, e.g. true (optional)
   * @return ResultListConcept
   * @throws ApiException if fails to make API call
   */
  public ResultListConcept findConcepts(String query, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {
    ApiResponse<ResultListConcept> localVarResponse = findConceptsWithHttpInfo(query, offset, limit, ascending, sort, handler, resolver, active, leaf);
    return localVarResponse.getData();
  }

  /**
   * Find concepts (across all terminologies)
   * Find concepts matching the specified search criteria
   * @param query search query, e.g. heart attack (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param handler search handler, e.g. STANDARD, EXACT, NGRAM. If &#39;SNOMED&#39; handler is used, a small delay may be added to prevent being blocked by 3rd party integration. (optional)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @param active active only, e.g. true (optional)
   * @param leaf active only, e.g. true (optional)
   * @return ApiResponse&lt;ResultListConcept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConcept> findConceptsWithHttpInfo(String query, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findConceptsRequestBuilder(query, offset, limit, ascending, sort, handler, resolver, active, leaf);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findConcepts", localVarResponse);
        }
        return new ApiResponse<ResultListConcept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConcept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findConceptsRequestBuilder(String query, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "handler";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("handler", handler));
    localVarQueryParameterBaseName = "resolver";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("resolver", resolver));
    localVarQueryParameterBaseName = "active";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("active", active));
    localVarQueryParameterBaseName = "leaf";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("leaf", leaf));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find concepts
   * Find concepts matching the specified search criteria
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. heart attack (optional)
   * @param expression ECL Expression, e.g. &lt;404684003 (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param handler search handler, e.g. STANDARD, EXACT, NGRAM. If &#39;SNOMED&#39; handler is used, a small delay may be added to prevent being blocked by 3rd party integration. (optional)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @param active active only, e.g. true (optional)
   * @param leaf active only, e.g. true (optional)
   * @return ResultListConcept
   * @throws ApiException if fails to make API call
   */
  public ResultListConcept findConcepts1(String terminology, String query, String expression, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {
    ApiResponse<ResultListConcept> localVarResponse = findConcepts1WithHttpInfo(terminology, query, expression, offset, limit, ascending, sort, handler, resolver, active, leaf);
    return localVarResponse.getData();
  }

  /**
   * Find concepts
   * Find concepts matching the specified search criteria
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param query search query, e.g. heart attack (optional)
   * @param expression ECL Expression, e.g. &lt;404684003 (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param handler search handler, e.g. STANDARD, EXACT, NGRAM. If &#39;SNOMED&#39; handler is used, a small delay may be added to prevent being blocked by 3rd party integration. (optional)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @param active active only, e.g. true (optional)
   * @param leaf active only, e.g. true (optional)
   * @return ApiResponse&lt;ResultListConcept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConcept> findConcepts1WithHttpInfo(String terminology, String query, String expression, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findConcepts1RequestBuilder(terminology, query, expression, offset, limit, ascending, sort, handler, resolver, active, leaf);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findConcepts1", localVarResponse);
        }
        return new ApiResponse<ResultListConcept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConcept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findConcepts1RequestBuilder(String terminology, String query, String expression, Integer offset, Integer limit, Boolean ascending, String sort, String handler, String resolver, Boolean active, Boolean leaf) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findConcepts1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "expression";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("expression", expression));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "handler";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("handler", handler));
    localVarQueryParameterBaseName = "resolver";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("resolver", resolver));
    localVarQueryParameterBaseName = "active";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("active", active));
    localVarQueryParameterBaseName = "leaf";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("leaf", leaf));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find mappings
   * Find mappings for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 6011000124106 (required)
   * @param query search query, e.g. heart attack (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @return ResultListMapping
   * @throws ApiException if fails to make API call
   */
  public ResultListMapping findMappings(String terminology, String code, String query, Integer offset, Integer limit, Boolean ascending, String sort) throws ApiException {
    ApiResponse<ResultListMapping> localVarResponse = findMappingsWithHttpInfo(terminology, code, query, offset, limit, ascending, sort);
    return localVarResponse.getData();
  }

  /**
   * Find mappings
   * Find mappings for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 6011000124106 (required)
   * @param query search query, e.g. heart attack (optional)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @return ApiResponse&lt;ResultListMapping&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListMapping> findMappingsWithHttpInfo(String terminology, String code, String query, Integer offset, Integer limit, Boolean ascending, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findMappingsRequestBuilder(terminology, code, query, offset, limit, ascending, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findMappings", localVarResponse);
        }
        return new ApiResponse<ResultListMapping>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListMapping>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findMappingsRequestBuilder(String terminology, String code, String query, Integer offset, Integer limit, Boolean ascending, String sort) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findMappings");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling findMappings");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/mapset/{terminology}/{code}/mapping"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concept subset memberships
   * Get subsets that the specified terminology and code are a member of
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @return ResultListSubset
   * @throws ApiException if fails to make API call
   */
  public ResultListSubset findSubsetMemberships(String terminology, String code) throws ApiException {
    ApiResponse<ResultListSubset> localVarResponse = findSubsetMembershipsWithHttpInfo(terminology, code);
    return localVarResponse.getData();
  }

  /**
   * Get concept subset memberships
   * Get subsets that the specified terminology and code are a member of
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @return ApiResponse&lt;ResultListSubset&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListSubset> findSubsetMembershipsWithHttpInfo(String terminology, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findSubsetMembershipsRequestBuilder(terminology, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findSubsetMemberships", localVarResponse);
        }
        return new ApiResponse<ResultListSubset>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListSubset>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findSubsetMembershipsRequestBuilder(String terminology, String code) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findSubsetMemberships");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling findSubsetMemberships");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/subsets"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find tree position children
   * Find the child tree position nodes for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset  (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ResultListConceptTreePosition
   * @throws ApiException if fails to make API call
   */
  public ResultListConceptTreePosition findTreePositionChildren(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    ApiResponse<ResultListConceptTreePosition> localVarResponse = findTreePositionChildrenWithHttpInfo(terminology, code, offset, limit, ascending, sort, conceptFlag);
    return localVarResponse.getData();
  }

  /**
   * Find tree position children
   * Find the child tree position nodes for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset  (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ApiResponse&lt;ResultListConceptTreePosition&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConceptTreePosition> findTreePositionChildrenWithHttpInfo(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findTreePositionChildrenRequestBuilder(terminology, code, offset, limit, ascending, sort, conceptFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findTreePositionChildren", localVarResponse);
        }
        return new ApiResponse<ResultListConceptTreePosition>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConceptTreePosition>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findTreePositionChildrenRequestBuilder(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findTreePositionChildren");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling findTreePositionChildren");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/trees/children"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "conceptFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("conceptFlag", conceptFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find tree position descendants
   * Find the descendant tree position nodes for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset  (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ResultListConceptTreePosition
   * @throws ApiException if fails to make API call
   */
  public ResultListConceptTreePosition findTreePositionDescendants(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    ApiResponse<ResultListConceptTreePosition> localVarResponse = findTreePositionDescendantsWithHttpInfo(terminology, code, offset, limit, ascending, sort, conceptFlag);
    return localVarResponse.getData();
  }

  /**
   * Find tree position descendants
   * Find the descendant tree position nodes for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset  (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ApiResponse&lt;ResultListConceptTreePosition&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConceptTreePosition> findTreePositionDescendantsWithHttpInfo(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findTreePositionDescendantsRequestBuilder(terminology, code, offset, limit, ascending, sort, conceptFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findTreePositionDescendants", localVarResponse);
        }
        return new ApiResponse<ResultListConceptTreePosition>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConceptTreePosition>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findTreePositionDescendantsRequestBuilder(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findTreePositionDescendants");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling findTreePositionDescendants");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/trees/descendants"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "conceptFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("conceptFlag", conceptFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Find tree positions
   * Find tree positions for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ResultListConceptTreePosition
   * @throws ApiException if fails to make API call
   */
  public ResultListConceptTreePosition findTreePositions(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    ApiResponse<ResultListConceptTreePosition> localVarResponse = findTreePositionsWithHttpInfo(terminology, code, offset, limit, ascending, sort, conceptFlag);
    return localVarResponse.getData();
  }

  /**
   * Find tree positions
   * Find tree positions for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ApiResponse&lt;ResultListConceptTreePosition&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConceptTreePosition> findTreePositionsWithHttpInfo(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findTreePositionsRequestBuilder(terminology, code, offset, limit, ascending, sort, conceptFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findTreePositions", localVarResponse);
        }
        return new ApiResponse<ResultListConceptTreePosition>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConceptTreePosition>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findTreePositionsRequestBuilder(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean conceptFlag) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling findTreePositions");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling findTreePositions");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/trees"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "conceptFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("conceptFlag", conceptFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concept
   * Get concept object for the specified terminology, code, and resolver
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param resolver graph resover, e.g. DEFAULT (optional)
   * @return Concept
   * @throws ApiException if fails to make API call
   */
  public Concept getConcept(String terminology, String code, String resolver) throws ApiException {
    ApiResponse<Concept> localVarResponse = getConceptWithHttpInfo(terminology, code, resolver);
    return localVarResponse.getData();
  }

  /**
   * Get concept
   * Get concept object for the specified terminology, code, and resolver
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param resolver graph resover, e.g. DEFAULT (optional)
   * @return ApiResponse&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Concept> getConceptWithHttpInfo(String terminology, String code, String resolver) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConceptRequestBuilder(terminology, code, resolver);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConcept", localVarResponse);
        }
        return new ApiResponse<Concept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Concept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConceptRequestBuilder(String terminology, String code, String resolver) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getConcept");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getConcept");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "resolver";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("resolver", resolver));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concept mappings
   * Get mappings that the specified terminology and code are mapped from
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 283231003 (required)
   * @return ResultListMapping
   * @throws ApiException if fails to make API call
   */
  public ResultListMapping getConceptMappings(String terminology, String code) throws ApiException {
    ApiResponse<ResultListMapping> localVarResponse = getConceptMappingsWithHttpInfo(terminology, code);
    return localVarResponse.getData();
  }

  /**
   * Get concept mappings
   * Get mappings that the specified terminology and code are mapped from
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 283231003 (required)
   * @return ApiResponse&lt;ResultListMapping&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListMapping> getConceptMappingsWithHttpInfo(String terminology, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConceptMappingsRequestBuilder(terminology, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConceptMappings", localVarResponse);
        }
        return new ApiResponse<ResultListMapping>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListMapping>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConceptMappingsRequestBuilder(String terminology, String code) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getConceptMappings");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getConceptMappings");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/mapping"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concepts
   * Get concepts for the specified terminology, code list, and resolver
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param codes concept codes, e.g. 71388002,404684003 (required)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getConcepts(String terminology, String codes, String resolver) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getConceptsWithHttpInfo(terminology, codes, resolver);
    return localVarResponse.getData();
  }

  /**
   * Get concepts
   * Get concepts for the specified terminology, code list, and resolver
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param codes concept codes, e.g. 71388002,404684003 (required)
   * @param resolver graph resolver, e.g. DEFAULT (optional)
   * @return ApiResponse&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Concept>> getConceptsWithHttpInfo(String terminology, String codes, String resolver) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConceptsRequestBuilder(terminology, codes, resolver);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConcepts", localVarResponse);
        }
        return new ApiResponse<List<Concept>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Concept>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConceptsRequestBuilder(String terminology, String codes, String resolver) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getConcepts");
    }
    // verify the required parameter 'codes' is set
    if (codes == null) {
      throw new ApiException(400, "Missing the required parameter 'codes' when calling getConcepts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concepts/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "codes";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("codes", codes));
    localVarQueryParameterBaseName = "resolver";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("resolver", resolver));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get properties
   * Get configuration information used to drive certain UI functionality
   * @return Map&lt;String, String&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, String> getConfigProperties() throws ApiException {
    ApiResponse<Map<String, String>> localVarResponse = getConfigPropertiesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get properties
   * Get configuration information used to drive certain UI functionality
   * @return ApiResponse&lt;Map&lt;String, String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Map<String, String>> getConfigPropertiesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConfigPropertiesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConfigProperties", localVarResponse);
        }
        return new ApiResponse<Map<String, String>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Map<String, String>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConfigPropertiesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/properties";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get mapset
   * Get mapsets for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 6011000124106 (required)
   * @return Mapset
   * @throws ApiException if fails to make API call
   */
  public Mapset getMapset(String terminology, String code) throws ApiException {
    ApiResponse<Mapset> localVarResponse = getMapsetWithHttpInfo(terminology, code);
    return localVarResponse.getData();
  }

  /**
   * Get mapset
   * Get mapsets for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 6011000124106 (required)
   * @return ApiResponse&lt;Mapset&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Mapset> getMapsetWithHttpInfo(String terminology, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getMapsetRequestBuilder(terminology, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getMapset", localVarResponse);
        }
        return new ApiResponse<Mapset>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Mapset>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getMapsetRequestBuilder(String terminology, String code) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getMapset");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getMapset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/mapset/{terminology}/{code}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get mapsets
   * Get all mapsets for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ResultListMapset
   * @throws ApiException if fails to make API call
   */
  public ResultListMapset getMapsets(String terminology) throws ApiException {
    ApiResponse<ResultListMapset> localVarResponse = getMapsetsWithHttpInfo(terminology);
    return localVarResponse.getData();
  }

  /**
   * Get mapsets
   * Get all mapsets for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ApiResponse&lt;ResultListMapset&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListMapset> getMapsetsWithHttpInfo(String terminology) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getMapsetsRequestBuilder(terminology);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getMapsets", localVarResponse);
        }
        return new ApiResponse<ResultListMapset>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListMapset>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getMapsetsRequestBuilder(String terminology) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getMapsets");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/mapset/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concept relationships
   * Get relationships for for specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param inverse search inverse side of relationships, e.g. false (optional)
   * @param active active only, e.g. true (optional)
   * @param filter  (optional)
   * @return ResultListConceptRelationship
   * @throws ApiException if fails to make API call
   */
  public ResultListConceptRelationship getRelationships(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean inverse, Boolean active, String filter) throws ApiException {
    ApiResponse<ResultListConceptRelationship> localVarResponse = getRelationshipsWithHttpInfo(terminology, code, offset, limit, ascending, sort, inverse, active, filter);
    return localVarResponse.getData();
  }

  /**
   * Get concept relationships
   * Get relationships for for specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @param offset start index for search results (optional)
   * @param limit limit of results to return (optional)
   * @param ascending &lt;code&gt;true&lt;/code&gt; for ascending, &lt;code&gt;false&lt;/code&gt; for descending, &lt;code&gt;null&lt;/code&gt; for unspecified (optional)
   * @param sort comma-separated list of fields to sort on (optional)
   * @param inverse search inverse side of relationships, e.g. false (optional)
   * @param active active only, e.g. true (optional)
   * @param filter  (optional)
   * @return ApiResponse&lt;ResultListConceptRelationship&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListConceptRelationship> getRelationshipsWithHttpInfo(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean inverse, Boolean active, String filter) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRelationshipsRequestBuilder(terminology, code, offset, limit, ascending, sort, inverse, active, filter);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRelationships", localVarResponse);
        }
        return new ApiResponse<ResultListConceptRelationship>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListConceptRelationship>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRelationshipsRequestBuilder(String terminology, String code, Integer offset, Integer limit, Boolean ascending, String sort, Boolean inverse, Boolean active, String filter) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getRelationships");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getRelationships");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/relationships"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "ascending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ascending", ascending));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "inverse";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("inverse", inverse));
    localVarQueryParameterBaseName = "active";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("active", active));
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get subset
   * Get subsets for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @return Subset
   * @throws ApiException if fails to make API call
   */
  public Subset getSubset(String terminology, String code) throws ApiException {
    ApiResponse<Subset> localVarResponse = getSubsetWithHttpInfo(terminology, code);
    return localVarResponse.getData();
  }

  /**
   * Get subset
   * Get subsets for the specified terminology and code
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 (required)
   * @return ApiResponse&lt;Subset&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Subset> getSubsetWithHttpInfo(String terminology, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSubsetRequestBuilder(terminology, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSubset", localVarResponse);
        }
        return new ApiResponse<Subset>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Subset>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSubsetRequestBuilder(String terminology, String code) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getSubset");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getSubset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/subset/{terminology}/{code}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get subsets
   * Get all subsets for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ResultListSubset
   * @throws ApiException if fails to make API call
   */
  public ResultListSubset getSubsets(String terminology) throws ApiException {
    ApiResponse<ResultListSubset> localVarResponse = getSubsetsWithHttpInfo(terminology);
    return localVarResponse.getData();
  }

  /**
   * Get subsets
   * Get all subsets for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ApiResponse&lt;ResultListSubset&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ResultListSubset> getSubsetsWithHttpInfo(String terminology) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSubsetsRequestBuilder(terminology);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSubsets", localVarResponse);
        }
        return new ApiResponse<ResultListSubset>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ResultListSubset>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSubsetsRequestBuilder(String terminology) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getSubsets");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/subset/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get subtree
   * Get the subtree for the specified terminology and code. Use the special value &lt;i&gt;local&lt;/i&gt; for terminologies with anamespace-id attribute to compute the subtree of all local content.
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 or &#39;local&#39; (required)
   * @param maxLevel max level of depth to read, e.g. 3 (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ConceptTreePosition
   * @throws ApiException if fails to make API call
   */
  public ConceptTreePosition getSubtree(String terminology, String code, Integer maxLevel, Boolean conceptFlag) throws ApiException {
    ApiResponse<ConceptTreePosition> localVarResponse = getSubtreeWithHttpInfo(terminology, code, maxLevel, conceptFlag);
    return localVarResponse.getData();
  }

  /**
   * Get subtree
   * Get the subtree for the specified terminology and code. Use the special value &lt;i&gt;local&lt;/i&gt; for terminologies with anamespace-id attribute to compute the subtree of all local content.
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @param code concept code, e.g. 71388002 or &#39;local&#39; (required)
   * @param maxLevel max level of depth to read, e.g. 3 (optional)
   * @param conceptFlag read concept information, e.g. true (optional)
   * @return ApiResponse&lt;ConceptTreePosition&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConceptTreePosition> getSubtreeWithHttpInfo(String terminology, String code, Integer maxLevel, Boolean conceptFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSubtreeRequestBuilder(terminology, code, maxLevel, conceptFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSubtree", localVarResponse);
        }
        return new ApiResponse<ConceptTreePosition>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ConceptTreePosition>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSubtreeRequestBuilder(String terminology, String code, Integer maxLevel, Boolean conceptFlag) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getSubtree");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getSubtree");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/concept/{terminology}/{code}/subtree"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "maxLevel";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("maxLevel", maxLevel));
    localVarQueryParameterBaseName = "conceptFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("conceptFlag", conceptFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get terminologies
   * Get all terminologies
   * @return List&lt;Terminology&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Terminology> getTerminologies() throws ApiException {
    ApiResponse<List<Terminology>> localVarResponse = getTerminologiesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get terminologies
   * Get all terminologies
   * @return ApiResponse&lt;List&lt;Terminology&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Terminology>> getTerminologiesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTerminologiesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTerminologies", localVarResponse);
        }
        return new ApiResponse<List<Terminology>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Terminology>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTerminologiesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get terminology
   * Get terminology object for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return Terminology
   * @throws ApiException if fails to make API call
   */
  public Terminology getTerminology(String terminology) throws ApiException {
    ApiResponse<Terminology> localVarResponse = getTerminologyWithHttpInfo(terminology);
    return localVarResponse.getData();
  }

  /**
   * Get terminology
   * Get terminology object for the specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ApiResponse&lt;Terminology&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Terminology> getTerminologyWithHttpInfo(String terminology) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTerminologyRequestBuilder(terminology);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTerminology", localVarResponse);
        }
        return new ApiResponse<Terminology>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Terminology>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTerminologyRequestBuilder(String terminology) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getTerminology");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get terminology metadata
   * Get map of terminology abbreviations to metadata for specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @throws ApiException if fails to make API call
   */
  public void getTerminologyMetadata(String terminology) throws ApiException {
    getTerminologyMetadataWithHttpInfo(terminology);
  }

  /**
   * Get terminology metadata
   * Get map of terminology abbreviations to metadata for specified terminology
   * @param terminology terminology, e.g. SNOMEDCT_US (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> getTerminologyMetadataWithHttpInfo(String terminology) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTerminologyMetadataRequestBuilder(terminology);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTerminologyMetadata", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTerminologyMetadataRequestBuilder(String terminology) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getTerminologyMetadata");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/terminology/metadata/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
[...]
